.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popupContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.input {
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: #f5f7f7;
}

.internalInputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
}

.button {
    margin-top: 10px;
    background-color:#8230ff;
    border: none;
    color: white;
    border-radius: 5px;
}